#atndevrecom-popup-panel {
	  -moz-appearance: none;
	  -moz-border-radius-topleft: 20px;
	  -moz-border-radius-topright: 20px;
    padding: 1px;
}

#atndevrecom-popup-div {
	  -moz-border-radius-topleft: 20px;
	  -moz-border-radius-topright: 20px;
    font: bold 11px/20px Verdana,'Lucida Grande',sans-serif;
    color: #333333;
}

#atndevrecom-popup-div table {
	  -moz-border-radius-topleft: 20px;
	  -moz-border-radius-topright: 20px;
    -moz-box-shadow: 1px 1px 0 #DBDBDB;
    background: none repeat scroll 0 0 #F9FAFA;
}

#atndevrecom-popup-div table tr th {
    color: #627587;
    text-align: left;
    font-weight: normal;
    padding-left: 15px;
}

#atndevrecom-popup-div table tbody tr:hover {
    background-color: #DFDFDF;
    cursor: pointer;
}

#atndevrecom-popup-div table tr td {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    padding: 4px 15px;
}

#atndevrecom-popup-div table tr.head td {
    border-top: none;
}

#atndevrecom-popup-div table tr td.date {
    border-right: 1px solid #EDEDED;
}

#atndevrecom-popup-div table tr td.title {
    border-right: 1px solid #EDEDED;
}

#atndevrecom-popup-div table tr td.under {
    background-color: #DFFFE0;
}