#atndevrecom-popup-inner {
    overflow-x: hidden;
    overflow-y: auto;
}

#atndevrecom-popup-div {
    -moz-box-shadow: 1px 1px 0 #DBDBDB;
    font: bold 11px/20px Verdana,'Lucida Grande',sans-serif;
    color: #333333;
    background: none repeat scroll 0 0 #F9FAFA;
    display: block;
}

#atndevrecom-popup-div table thead tr {
    background-color: #B5CADF;
    border-bottom: 1px solid #ffffff;
}

#atndevrecom-popup-div table tr th {
    color: #627587;
    text-align: left;
    font-weight: normal;
    padding-left: 15px;
}

#atndevrecom-popup-div table tr th.date-head {
    border-right: 1px solid #EDEDED;
}

#atndevrecom-popup-div table tr th.title-head {
    border-right: 1px solid #EDEDED;
}

#atndevrecom-popup-div table tbody tr:hover {
    background-color: #DFDFDF;
    cursor: pointer;
}

#atndevrecom-popup-div table tr td {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    padding: 4px 15px;
}

#atndevrecom-popup-div table tr.head td {
    border-top: none;
}

#atndevrecom-popup-div table tr td.date {
    border-right: 1px solid #EDEDED;
}

#atndevrecom-popup-div table tr td.title {
    border-right: 1px solid #EDEDED;
}

#atndevrecom-popup-div table tr td.under {
    background-color: #DFFFE0;
}

